:root {
    --color-neutral-50: 198, 208, 245;
    --color-neutral-100: 181, 191, 226;
    --color-neutral-200: 165, 173, 206;
    --color-neutral-300: 148, 156, 187;
    --color-neutral-400: 131, 139, 167;
    --color-neutral-500: 115, 121, 148;
    --color-neutral-600: 98, 104, 128;
    --color-neutral-700: 65, 69, 89;
    --color-neutral-800: 48, 52, 70;
    --color-neutral-900: 41, 44, 60;
    --color-neutral-950: 35, 38, 52;

    --color-primary-50: 249, 244, 253;
    --color-primary-100: 243, 233, 251;
    --color-primary-200: 230, 210, 246;
    --color-primary-300: 216, 187, 241;
    --color-primary-400: 209, 173, 236;
    --color-primary-500: 202, 158, 230;
    --color-primary-600: 178, 132, 208;
    --color-primary-700: 148, 100, 182;
    --color-primary-800: 118, 68, 152;
    --color-primary-900: 88, 36, 122;
    --color-primary-950: 58, 4, 92;

    --color-secondary-50: 246, 246, 253;
    --color-secondary-100: 236, 237, 251;
    --color-secondary-200: 216, 218, 247;
    --color-secondary-300: 201, 202, 244;
    --color-secondary-400: 193, 194, 243;
    --color-secondary-500: 186, 187, 241;
    --color-secondary-600: 156, 157, 221;
    --color-secondary-700: 121, 122, 196;
    --color-secondary-800: 86, 87, 166;
    --color-secondary-900: 56, 57, 136;
    --color-secondary-950: 26, 27, 106;
}